{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url(' {{ url_for('static', filename = 'img/contact-bg.jpg') }}  ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>ADD/EDIT YOUR POSTS</h1>
            <span class="subheading">This is the place for adding or editing your blogs</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Manage all your posts in here. You can add or update an existing post in this page..</p>
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <form name="sentMessage" id="contactForm" action="/edit/{{post.sno}}" method="POST" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Your Title</label>
              <input type="text" class="form-control" placeholder="Title" id="title" required data-validation-required-message="Please enter Title" name="title" value="{{post.title}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Sub Title</label>
              <input type="email" class="form-control" placeholder="Sub Title" id="sub" required data-validation-required-message="Please enter Sub Title" name="sub_title" value="{{post.sub_title}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>slug</label>
              <input type="text" class="form-control" placeholder="Slug" id="slug" required data-validation-required-message="Please enter slug" name="slug" value="{{post.slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Message</label>
              <textarea rows="7" class="form-control" placeholder="Content" id="content" required data-validation-required-message="Please enter the content." name="content">{{post.content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Image</label>
              <input type="text" class="form-control" placeholder="Image" id="phone" required data-validation-required-message="Please enter image path" name="img_file" value="{{post.img_file}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Done</button>
        </form>
      </div>
    </div>
  </div>

  {% endblock %}