{% extends "layout.html" %}
{% block body %}


    <header class="masthead" style="background-image: url(' {{ url_for('static', filename = 'img/home-bg.jpg')
  }}  ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">Manage Your Posts here!!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
    <h1 style="text-align: center">Welcome To The Dashboard</h1><br><hr>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Blog Title</th>
      <th scope="col">Date And Time</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

    {% for posts in posts %}
    <tr>
      <th scope="row">{{posts.sno}}</th>
      <td>{{posts.title}}</td>
      <td>{{posts.date}}</td>
      <td><a class="btn btn-primary" href="edit/{{posts.sno}}">Edit </a></td>
      <td><a class="btn btn-primary" href="edit/{{posts.sno}}">Delete </a></td>
    </tr>

    {%  endfor  %}

  </tbody>
</table>

    <hr>
<h3 style="text-align: center">Add a New post here</h3>
<span style="display: block;
    margin: auto;
    width: 190px;
    margin-top: 25px;
" ><a class="btn btn-primary" href="/edit/0">Add new post</a></span>

  <!-- Page Header -->


  {% endblock %}